<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-Commerce shopping cart</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <style type="text/css" media="screen">
        body {
            background-color: #17d627;
            text-decoration-color: white;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>Welcome to E-commerce shopping cart web-app</h1>
        <h4>Please download the repo from <a href="https://github.com/Anshumanformal/ecommerce-web-app">here</a> and execute as per instructions.</h4>
        <h3>Thanks for visiting.</h3>
        <h3>Please do create a Pull request, if you have any suggestions.</h3>
    </div>
    <div style="text-align: start">
        <h3>Operations that can be performed on this app.</h3>
        <ol>
            <li>Add, remove, update and delete products to/from the inventory.</li>
            <li>Add, update, remove, delete users to/from the database.</li>
            <li>User and admin authentication.</li>
            <li>Add items to the cart.</li>
            <li>Proceed with checkout where stripe integration is done.</li>
            <li>Success and Failure of payment is displayed.</li>
        </ol>
    </div>
</body>
</html>